.image-grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 150px 150px;
    
    gap: 1rem;
    margin: 10% 5%;
}
.grid-item{
    
    display: flex;
    flex-direction: column;
      
}
.grid-item img{
    width: 100%;
    height: 100%;
}

