<div class="image-grid-container" >
<div class="image-grid">
    <div class="grid-item">
        <img [src]="cardsData[0].src1" alt="">
        <span>{{cardsData[0].title}}</span>
    </div>
    <div class="grid-item" >
        <img [src]="cardsData[1].src1" alt="">
        <span>{{cardsData[1].title}}</span>
    </div>
    <div class="grid-item" >
        <img [src]="cardsData[2].src1" alt="">
        <span>{{cardsData[2].title}}</span>
    </div>
    <div class="grid-item" >
        <img [src]="cardsData[3].src1" alt="">
        <span  >{{cardsData[3].title}}</span>
    </div>
</div>
</div>
