<div class="footer-container" >
    <div class="footer" >
        <div class="upper-content" >
            <div class="upper-first" >
                <div class="logo-border" >
                <span>Ecommerce</span>
                </div>
                <p>Our purpose is to sustainably make the pleasure and benifits of various accessories to many.</p>
            </div>
            <div class="middle-first" >
                <span>Useful Links</span>
                <p>Coupons</p>
                <p>Blog Poducts</p>
                <p>Return policy</p>
                <p>Join Affiliate</p>
            </div>
            <div class="last-first" >
                <span>Follow us</span>
                <p>Facebook</p>
                <p>Instagram</p>
                <p>Twitter</p>
                <p>Youtube</p>
            </div>
        </div>
        <div class="lower-content" >
            copyright 2025 | Ishu Srivastava
        </div>
    </div>
</div>